*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-wrap: wrap;
}
#login{
    width: 40%;
    height: 270px;
    border: 1px solid #ccc;
    margin: 30px 0 0 30px;
}
#login h1{
    text-align: center;
}
.btn-primary{
    width: 100px;
    margin-top: 10px;
    margin-left: 10px;
}
#register{
    width: 40%;
    height: 450px;
    border: 1px solid #ccc;
    margin: 30px 0 0 30px;
}
h1{
    text-align: center;
}
#search{
    width: 30%;
    height: 550px;
    border: 1px solid #ccc;
    margin: 30px 0 0 30px;
    padding: 0 10px;
}
#table{
    margin-top: 20px;
}

