*{
    margin: 0;
    padding: 0;
}
body,html{
    width: 100%;
    height: 100%;
}
.wapper{
    width: 100%;
    height: 100%;
}
.wapper .menu{
    width: 90%;
    height: 100px;
    background-color: #dbd6d6;
    margin: 10px auto 0;
    border: 1px solid #575454;
    display: flex;
}
.menu .menu_left{
    width: 50%;
    height: 100%;

}
.menu .menu_left .logo{
    display: flex;
}
.menu .menu_left img{
    width: 80px;
    height: 80px;
    margin: 8px 0 0 30px;
}
.menu .menu_left h2{
    font-weight: 600;
    margin: auto 20px;
}
.menu .menu_right{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
}
.menu .menu_right ul{
    display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
}

.menu .menu_right ul li{
    width: 150px;
}
.menu .menu_right ul li a{
    font-size: 20px;
  color: #070707cc;
  text-decoration: none;
  font-weight: 600;
}
.wapper .wapper_content{
    width: 85%;
    height: 100%;
    margin: 10px auto 0 ;
}
.wapper_content .content{
    width: 100%;
    height: 60%;
    display: flex;

}
.content .film_img{
    width: 50%;
    height: 100%;
}
.film_img .poster{
    width: 100%;
    height: 80%;
}
.film_img .poster img{
    width: 100%;
    height: 100%;
}
.content .btn_action{
    width: 100%;
    height: 20%;
    margin-top: 10px;
}
.content .btn_action button{
    width: 20%;
    height: 40px;
    background-color: #faf285;
    border: 1px solid #ebe853;
    border-radius: 8px;
    margin: 0px 35px 0px 0px;
}
.content .btn_action button:first-child{
    background-color: #f58a8a;
    border: 1px solid #e66d6d;
    border-radius: 8px;
}
.content .btn_action button:last-child{
    width: 50%;
    background-color: #5093eb;
    border: 1px solid #328ce0;
    border-radius: 8px;
    margin-right: 0px;
}
.star-wrapper {
    width: 100%;
    height: 30px;
    float: left;
    margin-bottom: 40px;
  }
  .star-wrapper a {
    font-size: 25px;
    color: #a09e9e;
    text-decoration: none;
    transition: all 0.5s;
    margin: 4px;
  }
  .star-wrapper a:hover {
    color: gold;
    transform: scale(1.2);
  }
  .s1:hover ~ a {
    color: gold;
  }
  .s2:hover ~ a {
    color: gold;
  }
  .s3:hover ~ a {
    color: gold;
  }
  .s4:hover ~ a {
    color: gold;
  }
  .s5:hover ~ a {
    color: gold;
  }
  .change_page {
    margin: 20px 0 0 90px;
  }
.wapper_content .film_title{
    width: 50%;
    height: 100%;
    margin-left: 40px;
}
.film_title h1{
    margin-bottom: 20px;    
}
.film_title h3{
    margin-bottom: 20px;
}
.film_title p{
    color: #54eb4f;
    margin-bottom: 10px;
    font-size: 19px;
}
.film_title .btn_categories{
    margin-bottom: 70px;
}
.film_title .btn_categories button{
    width: 110px;
    margin-right: 10px;
    height: 40px;
}
.film_title .author{
    margin-bottom: 30px;
    display: flex;
}
.film_title .author h4{
    margin-right: 60px;
}

.film_title .author p{
    color: #328ce0;
}
.description{
    width: 100%;
    height: 20%;
    margin-bottom: 100px;
}
.description h2{
    margin-bottom: 20px;
}
.text{
    width: 100%;
    height: 90%;
    border: 1px solid black;
    font-size: 19px;
    padding: 10px 10px;
}
.actors{
    width: 100%;
    height: 20%;
    display: flex;
}
 h2{
    margin-bottom: 20px;
}
.actors .list{
    width: 10%;
    height: 90%;
    margin-right: 30px;
}
.list img{
    width: 150px;
    height: 150px;
}
.list p{
    margin-left: 45px;
    font-size: large;
    color: #54eb4f;
}

